<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>This is Services page</title>
</head>
<body>
    <section id="content" class="p-8 mt-10 ">
        <h1>wwelcome to Service page</h1>
        <h2>Services offered by SCM</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos libero obcaecati accusamus itaque possimus eius perspiciatis. Obcaecati consectetur beatae nesciunt provident inventore recusandae, repellendus hic, cum minus exercitationem quis quam.<10></10>
    </section>
    <script>
        console.log("service page")
    </script>
</body>
</html>