<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Home page</title>
</head>
<body>
    <div id="content" class="p-8 mt-10 text-center ">    
        <h1 class="text-5xl mb-4"> Account is verified by Email Now your Acoount is enable to use  </h1>

        <a href="/login" class="bg-green-900 mt-5 text-white px-3 py-2 rounded">Login</a>

    </div>
     
    <script>
        console.log("home page")
    </script>
</body>
</html>
</html>



